
body {
  background-color:#FCC7FF;
}
h4{
  text-align: center;
  color:white;
  font-size: 600%;
  font-family: Impact;
}

h6{
  text-algin:Center;
  color:black;
  font-size: 400%;
  font-family: Impact;
}
h3{
  text-algin:Center;
  color: #6E29F7;
  font-size: 350%;
  font-family: Impact;
}

h5{
   text-algin:Center;
  color: black;
  font-size: 200%;
  font-family: Impact;
}
 ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav {
  float: left;
}

li.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.nav:hover {
  background-color: #111;
}
