body {
  background-color:#FCC7FF;
}
h4{
  text-align: center;
  color:white;
  font-size: 600%;
  font-family: Impact;
}

h6{
  text-algin:Center;
  color:black;
  font-size: 400%;
  font-family: Impact;
}
h3{
  text-algin:Center;
  color: #6E29F7;
  font-size: 350%;
  font-family: Impact;
}

h5{
   text-algin:Center;
  color: black;
  font-size: 200%;
  font-family: Impact;
}

body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<div class="header">
  <h2>Scroll Down</h2>
  <p>Scroll down to see the sticky effect.</p>
</div>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>

